Recipe 4: Grouping and Aggregating Data

We will learn how to perform aggregate functions like mean or sum.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Category": ["A", "B", "A", "C", "B", "C", "A", "B"],
    "Values": [10, 20, 15, 35, 25, 45, 5, 30]
})
#df = pd.DataFrame Creates a DataFrame named df using the pd.DataFrame constructor.
#The DataFrame is initialized with a dictionary where keys are column names, 
#and values are lists containing data for each column.
#"Category": A column named "Category" containing categorical data (letters "A", "B", or "C").
#"Values": A column named "Values" containing numerical data.

In [3]:
#Grouping and aggregating
grouped_df= df.groupby("Category").sum()
#df.groupby("Category"): This part groups the DataFrame df by the values in the "Category" column. It essentially creates separate groups for each unique value in the "Category" column.

#.sum(): This part performs the aggregation operation on each group. In this case, it calculates the sum of values for each group. It computes the sum of the "Values" column within each group.

#grouped_df: The result is a new DataFrame called grouped_df that contains the unique categories as the index and the sum of values for each category in a column.

In [4]:
#Displaying the grouped DataFrame
print(grouped_df)
##This code will just display the contents of the grouped DataFrame 'grouped_df'

          Values
Category
A             30
B             75
C             80